* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 0;
}

.hidden {
  opacity: 0;
}

.dark-mode {
  --primary: #0f172a;
  --primary-light: #212a40;
  --secondary: #ff0056;
  --text: #fff;

  background-color: var(--primary);
}

.header {
  background-color: var(--primary);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;
}

.header__logo {
  color: var(--text);
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.header__list {
  display: flex;
  align-items: center;
  list-style: none;
}

.header__link {
  color: var(--text);
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  margin-right: 1rem;

  transition: color 150ms ease-in-out;
}

.header__link:hover {
  color: var(--secondary);
}

.wrapper {
  padding: 0.25rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.landing {
  width: 100%;
  height: calc(100vh - var(--header-height));
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.landing__box {
  width: 100%;
  padding: 1rem;
  flex-shrink: 1;
}

.header__nav {
  display: none;
}

.landing__box--left {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.landing__box--right {
  position: relative;
  height: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.landing__title {
  color: var(--text);
  font-size: 9vmin;
  text-align: center;
  margin-bottom: 2rem;
}

.landing__desc {
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.9);
  width: 90%;
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing__link {
  background-color: var(--secondary);
  color: var(--text);
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  text-decoration: none;
  transition: transform 150ms ease-in-out;
  margin-top: 2rem;
  text-transform: uppercase;
}

.landing__link:hover {
  transform: skewX(-10deg);
}

img {
  width: 100%;
}

.block {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 0.5rem;

  transition: all 200ms linear;
}

.block__title {
  color: var(--secondary);
  font-size: 9vmin;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.block__content {
  color: var(--text);
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
  max-width: 35rem;
}

.block__section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
